<div class="verify-warning verify-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="verify" aria-label="close"></button>
    <div class="verify-message">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <div class="text-content">
            <p>{{ 'navbar.isVerified'|trans({}, 'navbar')|raw }}</p>
            <a href="{{ path('resend_verif')}}">{{ 'navbar.reSend'|trans({}, 'navbar')|raw }}</a>
        </div>
    </div>
</div>