{#
* Structure:
* @author: Mathilde Breux
#}
{% extends 'base.html.twig' %}

{% block title %} {{ 'editPassword'|trans({}, 'profil') }}

{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('assets/css/profil_client.css')}}">
{% endblock %}

{% block body %}
	<div class="pageWrapper">
		<h1>{{ 'editPassword'|trans({}, 'profil') }}</h1>

		{{ include('profil/_formPassword.html.twig') }}
	</div>

	<script>
var input1 = document.getElementById('change_user_password_plainPassword');
var input2 = document.getElementById('change_user_password_newPassword_first');
var input3 = document.getElementById('change_user_password_newPassword_second');

var toggleButton1 = document.getElementById("togglePasswordPlain");
var toggleButton2 = document.getElementById("togglePasswordNew");
var toggleButton3 = document.getElementById("togglePasswordRepeat");

function toggle(input, icon) {
if (input.type === "password") {
input.type = "text";
icon.classList.remove('fa-eye');
icon.classList.add('fa-eye-slash');
} else {
input.type = "password";
icon.classList.remove('fa-eye-slash');
icon.classList.add('fa-eye');
}
}

toggleButton1.addEventListener('click', function () {
toggle(input1, this.querySelector('i'));
});

toggleButton2.addEventListener('click', function () {
toggle(input2, this.querySelector('i'));
});

toggleButton3.addEventListener('click', function () {
toggle(input3, this.querySelector('i'));
});
	</script>
{% endblock %}
