{#
*
* @author: Dylan Rohart
*
#}


{% block _Users_custom_password_widget %}
    <div class="input-group">
        <input type="password" {{ block('widget_attributes') }} class="form-control">
        <button type="button" class="btn btn-outline-secondary toggle-password">
            <i class="fas fa-eye"></i>
        </button>
    </div>
    <script src="{{asset('assets/js/showPassword.js')}}"></script>
{% endblock %}